<hr>
<h1>What do you want to know?</h1>
<hr>
The name Noushafarin is Persian and means "creator of joy".  It is pronounced "New-sha-fa-reen".
<br></br>
What more info?  Hit either of us up on Twitter.
<br></br>
<br></br>
