<div class="row-fluid">
	<div class="span12">
		<h2 class="text-info">INSTRUCTIONS</h2>
		<ol>
			<li>Enter the URL of the job seeker's public LinkedIn profile page into the text box <b>--OR--</b> copy and paste raw text from their resume into the text area.</li>
		  <li>Enter the URL of the open job posting (LinkedIn, Craiglist, etc) into the text box <b>--OR--</b> copy and paste raw text from a job description into the text area.</li>
		  <li>Click "Compare!".</li>
		</ol>
	</div>
</div>

<hr />

<div class="span4">
	<%= render 'urlcomparisonform' %>
</div>
<div class="span7 pull-right" style="border-left: 1px solid #EEEEEE;">
	<%= render 'copypastecomparisonform' %>
</div>

