<h2>INSTRUCTIONS</h2>
<ol>
  <li>Enter the URL of the candidate's LinkedIn profile page in the first box.</li>
  <li>Enter the URL of the open job posting in the second box.</li>
  <li>Click "Compare!".</li>
  <li>Enjoy.</li>
</ol>

<hr />

<div class="span4">
	<%= render 'urlcomparisonform' %>
</div>
<div class="span7 pull-right" style="border-left: 1px solid #EEEEEE;">
	<%= render 'copypastecomparisonform' %>
</div>

