/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.angel-wing-left {
	float: left;
	width: 50%;
}

.angel-wing-right {
	float: right;
	width: 50%;
}

.angel-wing-left .word {
	float: right;
	height: 35px;
	width: 100px; 
	text-align: left; 
	padding-left: 10px;
}

.angel-wing-right .word {
	float: left; 
	height: 35px; 
	width: 100px; 
	text-align: right; 
	padding-right: 10px;
}

.angel-wing-left .word-count {
	float: left; 
	padding-left: 5px; 
	padding-top: 5px; 
	color: white;
}

.angel-wing-right .word-count {
	float: right; 
	padding-right: 5px; 
	padding-top: 5px; 
	color: white;
}

.word .word-container {
	padding-top: 5px;
}

.angel-wing-left .row-wrapper {
	height: 30px;
	float: right;
	text-align: right;
}

.angel-wing-left .graph {
	height: 30px; 
	float: right; 
	border-radius: 3px; 
	box-shadow: 0px 0px 2px #CCCCCC;
}

.angel-wing-right .graph {
	height: 30px; 
	float: left; 
	border-radius: 3px; 
	box-shadow: 0px 0px 2px #CCCCCC;
}

.graph-list {
	list-style-type: none;
}

.graph-list .even {
	background-color: #1e90ff;
}

.graph-list .odd {
	background-color: #00bfff;
}